<aside id="sidebar">
  <nav>
    <ul>
      <li class="movies">
        <%= link_to 'Released', movies_path, class: 'button' %>
      </li>
      <li class="movies">
        <%= link_to 'Hits', filtered_movies_path(:hits), class: 'button active' %>
      </li>
      <li class="movies">
        <%= link_to 'Flops', filtered_movies_path(:path), class: 'button' %>
      </li>
      <li class="movies">
        <%= link_to 'Recent', filtered_movies_path(:recent), class: 'button' %>
      </li>
      <li class="movies">
        <%= link_to 'Upcoming', filtered_movies_path(:upcoming), class: 'button' %>
      </li>


      <% if is_an_admin? %>
        <li class="create-movie">
          <%= link_to 'Add New Movie', new_movie_path, class: 'button' %>
        </li>
      <% end %>
    </ul>
  </nav>
  <%= content_for :sidebar_content %>
</aside>
